<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :list %><br />
    <%= f.text_field :list %>
  </div>
  <!--<div class="field">
<%#= f.label :item_id %><br />
<%#= f.number_field :item_id %>
</div>
<div class="field">
<%#= f.label :user_id %><br />
<%#= f.number_field :user_id %>
</div>-->

<% @list.build_item unless @list.item %>
  <%= f.fields_for :item do |g| %>
    <%= g.label :name %><br />
    <%= g.text_field :name %><br />

<%# @list.item.build_store unless @list.item.store %>

	<%#= g.fields_for :stores do |h| %>
	      <%#= h.label :name %><br />
	      <%#= h.text_field :name %>
	<%# end %>

  <% end %>

  <%#= f.fields_for :stores do |builder| %>
    <%#= render "store_fields", :f => builder %>
<%# end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>