
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
<%# f.hidden_field :item %>
  </div>
  <!--<div class="field">
    <%#= f.label :item_id %><br />
    <%#= f.number_field :item_id %>
  </div>
  <div class="field">
    <%#= f.label :detail_id %><br />
    <%#= f.number_field :detail_id %>
  </div>-->
<% store.build_detail unless store.detail %>
  <%= f.fields_for :detail do |g| %>
    <%= g.label :section %><br />
    <%= g.text_field :section %><br />
  <% end %>