<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :name %>
  </div>

 <%= f.fields_for :stores do |store_form| %>
  <div class="field">
    <%= store_form.label :store %><br />
    <%= store_form.text_field :name %>
  </div>

  <%= store_form.fields_for :detail do |detail_form| %>
  <div class="field">
    <%= detail_form.label :section %><br />
    <%= detail_form.text_field :section %>
  </div>

<% end %>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
